{% extends "trophy_viewer/base.html" %}
{% block content %}
    {% if object_list %}
        <ul>
            <h2>Mytheresa items</h2>
            {% for item in object_list %}
                <h3>{{ item.id }}</h3>
                    <li>{{ item.article }}</li>
                    <li>{{ item.title }}</li>
                    <li>{{ item.image }}</li>
                    <li>{{ item.price }}</li>
                    <li>{{ item.size }}</li>
                    <li>{{ item.description }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>Data Base is empty, click the start button</h2>
    {% endif %}
{% endblock %}