{% extends "trophy_viewer/base.html" %}
{% block content %}
    {% if object_list %}
        <ul>
            <h2>Mytheresa items</h2>
            {% for item in object_list %}
                <h3>{{ item.id }}</h3>
                    <li>{{ item.article }}</li>
                    <li>{{ item.title }}</li>
                    <li>{{ item.image }}</li>
                    <li>{{ item.price }}</li>
                    <li>{{ item.size }}</li>
                    <li>{{ item.description }}</li>
            {% endfor %}
        </ul>
    {% elif not is_started %}
    <div>
        <form method='POST'>
            {% csrf_token %}
            <button style="height:40px;width:80px" type='submit'> parse </button>
        </form>
    </div>
        <h2>Data Base is empty, click the start button</h2>
    {% else %}
        <h2>started scraping</h2>
    {% endif %}
{% endblock %}