{% extends "trophy_viewer/base.html" %}
{% block content %}
    {% if object_list %}
        <ul>
            <h2>Mytheresa items</h2>
            {% for item in object_list %}
                <h3>{{ item.id }}</h3>
                    <li><b>article:</b> {{ item.article }}</li>
                    <li><b>title:</b> {{ item.title }}</li>
                    <li><b>image:</b> {{ item.image }}</li>
                    <li><b>price:</b> {{ item.price }}</li>
                    <li><b>size:</b> {{ item.size }}</li>
                    <li><b>description:</b> {{ item.description }}</li>
            {% endfor %}
        </ul>
    {% else %}
    <div>
        <form method='POST'>
            {% csrf_token %}
            <button style="height:40px;width:80px" type='submit'> parse </button>
        </form>
    </div>
        <h2>Data Base is empty, click the start button</h2>
    {% endif %}
{% endblock %}